@import "../node_modules/bootstrap/scss/bootstrap";
    * {
        box-sizing: border-box;
    }

    html,body {
        font-size: 14px;
        width:100%;
        height:100%;
        margin:0;
    }

    .background {
        width: 100%;
        height: 100%;
        background: rgba(241, 243, 246, 1);
        opacity: 1;
        position: absolute;
        top: 0px;
        left: 0px;
        overflow: hidden;
    }

    .box_area {
        width: 30%;
        border:0;
        background: white;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        overflow: hidden;
        border-radius: 40px;
    }

    .image_box {
        position: absolute;
        width:70%;
        height:60%;
        margin-left:15%;
        
        background-image: url("/icons8-t-셔츠-50.png");
        background-size:contain;
        background-position:center;
        background-repeat: no-repeat;

    }
    .button_box{
        position:absolute;
        width: 70%;
        height: 20%;
        left:15%;
        background-color: #eef7fe;
        border-radius: 20px;
        border : 0;
    }
    .circle{
        position:absolute;
        width : 10%;
        height : 50%;
        border-radius : 50%;
        top : 25%;
        left : 5%;
        background-color : white;
    }
    .check_mark{
        color : #4CE364;
        font-size : large;
        left : 35%;
        vertical-align: middle;
        margin : 0;
    }
    .button_box>span{
        font-size : 1.5vmax;
        text-align: center;
        vertical-align: middle;
        width:60%;
    }
    .button_box>img{
        position:absolute;
        left:85%;
        vertical-align: middle;
    }
    .box_area:nth-child(1) {
        position: absolute;
        top: 2%;
        left: 2%;
        height: 46%;
    }
    .box_area:nth-child(1)>.image_box{
        width: 80%;
        height: 70%;
        left:5%;
        top:10%;

    }
    .box_area:nth-child(1)>span{
        font-size:2vmax;
        position: absolute;
        top:85%;
        left:20%;
    }
    .box_area:nth-child(2) {
        position: absolute;
        top: 2%;
        left:35%;
        height: 10%;
    }
    .box_area:nth-child(2)>span {
        position: absolute;
        width: 186px;
        height: 46px;
        left: 10%;
        top: 30%;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 46px;
        /* identical to box height */
    }

    .box_area:nth-child(3) {
        position: absolute;
        top: 14%;
        left: 35%;
        height: 34%;
    }
    .box_area:nth-child(4) {
        position: absolute;
        top: 50%;
        left: 35%;
        height: 48%;
    }
    
    .box_area:nth-child(4)>.button_box:nth-of-type(1) {
        position: absolute;
        left: 7%;
        top: 25%;
        border : 0;
    }
    .box_area:nth-child(4)>.button_box:nth-of-type(2) {
        position: absolute;
        left: 7%;
        top: 43%;
        border : 0;
    }
    .box_area:nth-child(4)>.button_box:nth-of-type(3) {
        position: absolute;
        left: 7%;
        top: 61%;
        border : 0;
    }
    .box_area:nth-child(4)>.button_box:nth-of-type(4) {
        position: absolute;
        left: 7%;
        top: 79%;
        border : 0;
    }
    
    .box_area:nth-child(4)>span{
        font-size:3vmax;
        position: absolute;
        top:8%;
        left:8%;
    }
    .box_area:nth-child(5) {
        position: absolute;
        top: 50%;
        left: 2%;
        height:48%;
    }
    
    .carousel-item>.button_box:nth-of-type(1) {
        top: 0%;
    }
    .carousel-item>.button_box:nth-of-type(2) {
        top: 30%;
        
    }
    .carousel-item>.button_box:nth-of-type(3) {
        top: 60%;
        
    }
    
    .box_area:nth-child(5)>span{
        font-size:3vmax;
        position: absolute;
        top:8%;
        left:8%;
    }

    .box_area:nth-child(6) {
        position: absolute;
        top: 2%;
        left: 68%;
        height: 20%;
    }

    .box_area:nth-child(6)>button{
        position:absolute;
        border-radius: 20px;
        border:0;
        height:30%;
        font-size:1.5vmax;
    }
    .box_area:nth-child(6)>button:nth-child(1){
        background-color:#578EF54D;
        width:35%;
        top:15%;
        left:5%;
    }
    .box_area:nth-child(6)>button:nth-child(2){
        background-color:#FDFF99;
        width:50%;
        top:15%;
        left:45%;
    }
    .box_area:nth-child(6)>button:nth-child(3){
        background-color:#4CE3644D;
        width:25%;
        top:55%;
        left:5%;
    }
    .box_area:nth-child(6)>button:nth-child(4){
        background-color:#FF5A5A4D;
        width:30%;
        top : 55%;
        left:35%;
    }
    .box_area:nth-child(6)>button:nth-child(5){
        background-color:#22215B4D;
        width:25%;
        top:55%;
        left:70%;
    }
    .box_area:nth-child(7) {
        position: absolute;
        top: 24%;
        left: 68%;
        height: 25%;
    }
    .box_area:nth-child(7)>span {
        position:absolute;
        font-size:2vmax;
        left:5%;
        top:10%;
    }
    .box_area:nth-child(8) {
        position: absolute;
        top: 51%;
        left: 68%;
        height: 47%;
    }

    .button_area:nth-of-type(1) {
        position: absolute;
        left: 7%;
        top: 0%;
        border : 0;
    }
    .button_area:nth-of-type(2) {
        position: absolute;
        left: 7%;
        top: 30%;
        border : 0;
    }
    .button_area:nth-of-type(3) {
        position: absolute;
        left: 7%;
        top: 60%;
        border : 0;
    }
    
    .box_area:nth-child(8)>span{
        font-size:3vmax;
        position: absolute;
        top:8%;
        left:8%;
    }

    #carouselExampleDark, #carouselExampleDark2{
        position : absolute;
        top:25%;
        width:100%;
        height:75%;
    }

    .carousel-inner{
        position:absolute;
        width:100%;
        height:100%;
        padding-top:5%;
    }
    .carousel-indicators{
        position:absolute;
        top:90%;
        left:40%;
        /* width:50%;
        height:10%; */
    }
  
    .carousel-item{
        position:absolute;
        width:100%;
        height:100%;
    }
    .carousel-control-prev,.carousel-control-next{
        height:50%;
    }
    .carousel-control-prev-icon{
        position:absolute;
        top:10vh;
    }
    .carousel-control-next-icon{
        position:absolute;
        top:10vh;
    }
    .box_area:nth-child(8)>.carousel>.carousel-inner>.btn{
        position:absolute;
        left:25vw;
        top:29vh;
        width:15%;
        height:10%;
        margin:0;
        border:0;
        padding:0;
    }
    .button_area{
        position:absolute;
        width: 70%;
        height: 20%;
        margin-left:8%;
        background-color: #eef7fe;
        border-radius: 20px;
        border : 0;
    }
    .button_area>.closet_button{
        float:left;
        height:100%;
        width:82%;
        background-color: #eef7fe;
        border-radius: 20px;
        border : 0;

    }
    .button_area>.delete_closet{
        float:right;
        height:100%;
        background-color:transparent;
        border:0;
    }
    .closet_button>span{
        font-size : 1.5vmax;
        margin-left:20%;
        vertical-align: middle;
        width:60%;
    }
    
    
    

