* {
    box-sizing: border-box;
}

html,body {
    font-size: 14px;
    width:100%;
   
    margin:0;

    background-image :"시작페이지하늘.png";
    background-position: 50% 50%;
    height: 100%;
    background-repeat : no-repeat;
    background-size : cover;
    background-color: #010036a2;
    overflow:hidden;
  }

 
 
  .background {
    width: 100%;
    height: 200%;
    background:"시작페이지하늘.png" ;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 30%;
    left: 30%;
    overflow: hidden;
  }

  .bignamelogo_box{
      position: absolute;
      width: 90%;
      height: 40%;
      margin: left 5%;

      background-size:contain;
      background-position:center;
      background-repeat: no-repeat;


  }

  .button_box{
    width: 85%;
    height: 16%;
    background-color: #eef7fe;
    border-radius: 20px;
}

.search_box{
    position: absolute;
    width: 50%;
    height: 70%;
    margin: left 5%;
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    top: 50%;
    left: 20%;
   
    /* left 50%정도가 맞는 사이즈인데--사진뒤로숨는현상어떡할지모르겠음--  */

}

  .box_area:nth-child(1) {
    position: absolute;
    top: 2%;
    left: 2%;
    height: 46%;
}

.box_area:nth-child(1)>span{
    font-size:2vmax;
    position: absolute;
    top:85%;
    left:20%;
}
.box_area:nth-child(2) {
    position: absolute;
    top: 2%;
    left:35%;
    height: 10%;
}
.box_area:nth-child(2)>span {
    position: absolute;
    width: 186px;
    height: 46px;
    left: 10%;
    top: 30%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
    /* identical to box height */
}

.box_area:nth-child(3) {
    position: absolute;
    top: 14%;
    left: 35%;
    height: 40%;
}
.box_area:nth-child(4) {
    position: absolute;
    top: 56%;
    left: 35%;
    height: 42%;
}

.box_area:nth-child(4)>span{
    font-size:2vmax;
    position: absolute;
    top: 85%;
    left:20%;
}
.box_area:nth-child(5) {
    position: absolute;
    top: 50%;
    left: 2%;
    height:48%;
}

.box_area:nth-child(5)>.button_box:nth-of-type(1) {
    position: absolute;
    left: 10%;
    top: 30%;
    border : 0;
}
.box_area:nth-child(5)>.button_box:nth-of-type(2) {
    position: absolute;
    left: 10%;
    top: 50%;
    border : 0;
}
.box_area:nth-child(5)>.button_box:nth-of-type(3) {
    position: absolute;
    left: 10%;
    top: 70%;
    border : 0;
}

.box_area:nth-child(5)>span{
    font-size:3vmax;
    position: absolute;
    top:8%;
    left:8%;
}

.box_area:nth-child(6) {
    position: absolute;
    top: 2%;
    left: 68%;
    height: 20%;
}

.box_area:nth-child(6)>button{
    position:absolute;
    border-radius: 20px;
    border:0;
    height:30%;
    font-size:1.5vmax;
}
.box_area:nth-child(6)>button:nth-child(1){
    background-color:#578EF54D;
    width:35%;
    top:15%;
    left:5%;
}
.box_area:nth-child(6)>button:nth-child(2){
    background-color:#FDFF99;
    width:50%;
    top:15%;
    left:45%;
}
.box_area:nth-child(6)>button:nth-child(3){
    background-color:#4CE3644D;
    width:25%;
    top:55%;
    left:5%;
}
.box_area:nth-child(6)>button:nth-child(4){
    background-color:#FF5A5A4D;
    width:30%;
    top : 55%;
    left:35%;
}
.box_area:nth-child(6)>button:nth-child(5){
    background-color:#22215B4D;
    width:25%;
    top:55%;
    left:70%;
}
.box_area:nth-child(7) {
    position: absolute;
    top: 24%;
    left: 68%;
    height: 25%;
}
.box_area:nth-child(7)>span {
    position:absolute;
    font-size:2vmax;
    left:5%;
    top:10%;
}
.box_area:nth-child(8) {
    position: absolute;
    top: 51%;
    left: 68%;
    height: 47%;
}

.box_area:nth-child(8)>.button_box:nth-of-type(1) {
    position: absolute;
    left: 10%;
    top: 30%;
    border : 0;
}
.box_area:nth-child(8)>.button_box:nth-of-type(2) {
    position: absolute;
    left: 10%;
    top: 50%;
    border : 0;
}
.box_area:nth-child(8)>.button_box:nth-of-type(3) {
    position: absolute;
    left: 10%;
    top: 70%;
    border : 0;
}

.box_area:nth-child(8)>span{
    font-size:3vmax;
    position: absolute;
    top:8%;
    left:8%;
}